@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --button: #662D91;
    --button-hover: red;
    --link:#662D91;
    --link-hover: red;
    --delete: transparent;
    --delete-hover: red;
    --button-text: #fff;
    --input-bg: #efefef;
    --success: #2db42d;
    --clear: transparent;


    --primary: #2a2aff;
    --secondary: #fff;
    --tertiary: #82c680;
    --quarternary: #eabd51;
    --warning: #EF1B1B;
    --primary-shade: #7873aa;
    --gray-mid: #9d9d9d;
    --dark-bg: #1e1c35;
    --dark-bg-text: #fff;
    --light-bg: #fff;
    --light-bg-text: #000;
    --search-bg: #fff;
}

/* base classes */

* {
    box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}



/* framework-classes */

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 20px;
}

.grid {
    display: flex;
}

.grid > div {
    flex-grow: 1;
}

.grid > .grow-2 {
    flex-grow: 2;
}

.grid > div > * {
    margin-bottom: 15px;
}

button, 
.button {
    display: inline-block;
    border: 0;
    color: #fff;
    background-color: var(--primary);
    padding: 12px 30px;
    border-radius: 5px;
    min-width: 130px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.15;
    cursor: pointer;
}

button.secondary,
.button.secondary, 
button.secondary *,
.button.secondary * {
    background-color:  var(--secondary);
    color: var(--primary);
}

button svg,
.button svg {
    margin-right: 10px;
}

button + button, 
.button + .button, 
button + .button, 
.button + button {
    margin-left: 10px;
}

form {
    max-width: 480px;
    margin: 0 auto;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

form input, 
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--input-bg);
    border: none;
}

textarea {
    height: 100px;
}

form button {
    width: 100%;
}

.card {
    max-width: 550px;
    border-radius: 5px;
    background-color: var(--light-bg);
    margin-bottom: 30px;
    padding: 10px;
}

.card-title {
    margin-top: 10px;
}



/* utility classes */

.dark-bg {
    background-color: var(--dark-bg);
    color: var(--dark-bg-text);
}

.dark-bg * {
    color: var(--dark-bg-text);
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.drop-shadow {
    position: relative;
    box-shadow: 0px 9px 10px 3px rgb(0 0 0 / 20%);
}

.cursor-pointer {
    cursor: pointer;
}







/* context classes */

.page-header + .container-fluid {
    min-height: calc(100vh - 375px);
}

.header-logo-container {
    width: 400px;
}

.header-logo-container + div {
    width: calc(100% - 400px);
    padding-top: 15px;
}

.header-logo-container > div {
    margin-bottom: 0;
}

.search {
    margin-top: 20px;
}

.search input {
    width: 75%;
    background-color: var(--search-bg);
    color: initial;
    padding: 12px 15px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: 0;
    font-size: 20px;
}

.input-action {
    background-color: var(--search-bg);
    color: initial;
    font-size: 0px;
    padding: 9px 5px;
    border-radius: 0 5px 5px 0;
    vertical-align: bottom;
    min-width: auto;
}

.input-action * {
    font-size: 29px;
    color: var(--light-bg-text);
}

.input-action + .input-action {
    margin-left: 0;
}

.input-action:not(:last-of-type) {
    border-radius: 0;
}

.menu-container, 
.mobile-menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.menu-container.open,
.mobile-menu-container.open {
    display: block;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px 0 20px 50px;
    background-color: var(--dark-bg);
    text-align: left;
}

.menu-close {
    background-color:  transparent;
    font-size:  24px;
    font-weight: bold;
}

.menu-close:hover, 
.menu-close:hover * {
    color: var(--warning);
}

.menu h2 {
    margin-top: 0;
    font-size: 48px;
}

.menu ul {
    padding-left: 0;
}

.menu li {
    font-size: 24px;
}

.menu li a,
.nav-text-only {
    display: inline-block;
    text-decoration: none;
    width: 50%;
    padding: 10px 0;
}

.menu li a:hover,
.nav-text-only:hover,
.menu li a:hover *,
.nav-text-only:hover * {
    background-color: var(--primary);
    padding-left: 10px;
    border-radius: 5px;
}

.menu li svg {
    width: 30px;
    padding-right: 20px;
}

.menu .list-group {
    margin-top: 30px;
}

.mobile-nav {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-bg);
    left: 0;
    z-index: 10;
    padding: 10px;
}

.mobile-nav .main-buttons {
    text-align: center;
}

.mobile-nav .main-buttons .button,
.mobile-nav .main-buttons button {
    padding: 15px;
    width: 40px;
    height: 40px;
    min-width: auto;
    border-radius: 1000px;
    font-size: 0;
    line-height: 2;
    vertical-align: middle;
    background-color: var(--light-bg);
}

.mobile-nav .main-buttons button {
    padding: 11px;
}

.mobile-nav .main-buttons .button svg,
.mobile-nav .main-buttons button svg {
    font-size: 20px;
}

.mobile-nav .main-buttons .button * ,
.mobile-nav .main-buttons button * {
    color: var(--primary);
}

.jobs-list ul,
.your-jobs ul {
    max-width: 550px;
    width: 40%;
    min-width: 400px;
    max-height: 805px;
    overflow: auto;
    padding-right: 15px;
    padding-left: 0;
}

.map-container {
    background-image: url('/images/map.jpg');
    background-position: top right;
}

.job-company {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-shade);
}

.job-pay {
    font-size: 20px;
    color: var(--tertiary);
    font-weight: bold;
}

.job-date {
    color: var(--gray-mid);
}

.job-posting input[type="checkbox"] {
    display: none;
}

.job-save {
    font-size: 30px;
    color: var(--quarternary)
}

.apply {
    display: inline-block;
}

.applied {
    display: none;
    background-color: var(--success);
}

input:checked + span .button.apply {
    display: none;
}

input:checked + span .button.apply + .applied {
    display: inline-block;
}




.full-job-container {
    padding: 10px 0px 50px 0;
    font-size: 18px;
}




.github-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.footer {
    padding-top: 50px;
    padding-bottom: 106px;
}


@media screen and (max-width: 900px) {

    .header-logo-container {
       width: 50%;
       padding-right: 50px;
    }

    .header-logo-container img {
        width: 100%;
    }

    .header-logo-container + div {
        width: 50%;
    }

    .main-buttons button,
    .main-buttons a {
        width: calc(50% - 5px);
        padding-left: 0;
        padding-right: 0;
    }

    .search input {
        width: calc(100% - 98px);
    }

    .menu {
        padding: 20px;
    }
    
    .menu li a, 
    .nav-text-only {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {

    .page-header {
        padding: 5px;
    }

    .page-header + .container-fluid {
        min-height: calc(100vh - 286px);
    }

    .header-logo-container {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .header-logo-container img {
        width: 250px;
    }

    .header-logo-container + div {
        width: 0;
    }

    .stationary-nav,
    .search {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .menu-close {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .jobs-list ul,
    .your-jobs ul {
        width: 100%;
        min-width: 0;
        padding-right: 0;
        overflow: visible;
        max-height: initial;
    }
    

    

    


}
