:root {
    --button: #0c7aef;
    --button-hover: #1c68ba;
    --link:#0c7aef;
    --link-hover:#4598ef;
    --delete: transparent;
    --delete-hover: red;
    --button-text: #fff;
    --input-bg: #efefef;
    --success: #2db42d;
    --clear: transparent;
}


* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
    margin: 0;
    padding: 0;
}

.header-container {
    padding: 20px 0;
    background-color: #ccc;
    background-image: url(/images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.site-title {
    margin: 0;
    font-size: 0;
    height: 100px;
    background-image: url(/images/jobspotz-logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container.user {
    padding:  0 20px;
    background-color: #333;
    color: #fff;
    text-align: right
}

.user button {
    margin: 0 0 0 20px;
    background-color: var(--clear);
    color: var(--link);
}

.user button:hover {
    background-color: var(--clear);
    color: var(--link-hover)
}

.content-container {
    padding: 20px;
}

.job-form input {
    width: calc(100% - 100px);
}

.job-posting {
    border-bottom:  1px solid #000;
}

.job-posting > span {
    width: calc(100% - 33px);
    display: inline-block;
}

.job-posting input[type="checkbox"] {
    display: none;
}

.apply-button {
    margin: 5px 10px 5px 0;
    padding: 5px;
    background-color: var(--button);
    color: var(--button-text);
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.apply {
    display: inline-block;
}

.applied {
    display: none;
    background-color: var(--success);
}



input:checked + .apply-button.apply {
    display: none;
}

input:checked + .apply-button.apply + .applied {
    display: inline-block;
}

.job-form button {
    width: 100px;
}

input,
button {
    padding: .6rem;
    border: none;
}

input {
    background-color: var(--input-bg);
}

button {
    margin: 1rem 0;
    background-color: var(--button);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

li input {
    display: inline-block;
    margin-right: .6rem;
}

.delete {
    margin: 5px 0 5px 5px;
    padding: 0px 6px;
    font-size: 25px;
    background-color: var(--delete);
    color: var(--delete-hover);
    border-left: 1px solid #000;
    position: relative;
    bottom: -4px;
}

.delete:hover {
    background-color: var(--delete-hover);
    color: var(--button-text);
    border-left-color: var(--delete);
}


.login-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 80px 50px;
}

.login-form div {
    padding-bottom: 30px;
}

.login-form label {
    display: block;
}

.login-form input {
    width: 100%;
}

.login-form button {
    width: 150px;
}

.login-form .github-btn {
    width: 100%;
    border: 1px solid #e1e5f0;
    background-color: #fff;
    margin: 0 auto 16px;
    color: black;
  }
  
  .github-btn > span {
    display: inline-block;
    margin-left: 4px;
    position: relative;
    top: -2px;

  }

  .loading {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    justify-content: center;
    align-items: center;
  
    font-weight: bold;
  }
